/* General Styling */
body {
    font-family: 'Arial', sans-serif;
    background-color: #d98989;
    margin: 0;
    padding: 150px;

}

.resume-container {
    display: flex;
    background-color: white;
    width: 80%;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.932);
}

/* Left Section Styling */
.left-section {
    background-color: #2c2c2c;
    color: white;
    padding: 20px;
    width: 35%;
    text-align: center;
    border-right: 5px solid rgb(182, 72, 72);
}

.profile-picture {
    width: 150px;
    height: 150px;
    margin-top: 10%;
    border-radius: 50%;
    border: 5px solid rgb(182, 72, 72);
    margin-bottom: 20px;
}

h1 {
    font-size: 24px;
    margin: 10px 0;
    margin-bottom: 30px;
    text-align: center;
}

h3 {
    font-size: 18px;
    padding: 2%;
    margin: 20px 0 10px;
    color: black;
    border-radius: 10px;
    box-shadow: 0 0 15px #b4555d;
    margin-top: 5%;
    margin-bottom: 5%;
}

ul {
    list-style-type: fill round;
    padding: 10;
    margin: 10px 0;
}

ul li {
    margin: 5px 0;
}

/* Right Section Styling */
.right-section {
    padding: 20px;
    width: 65%;
}

button {
    font-family: Arial, sans-serif;
    border-radius: 8px;
    box-shadow: 0 0 15px rgb(185, 60, 60);
    cursor: pointer;
    margin-top: 10px;
    font-size: 18px;
    color:  rgb(0, 0, 0);
    background-color: #ff737c;
}

button:hover {
    background-color: #ff737c;
}






@keyframes backgroundChange {
    0% {
      background-color: #ffafbd;
    }
    50% {
      background-color: #ffc3a0;
    }
    100% {
      background-color: #ffafbd;
    }
  }

  /* Apply the animation to the body */
  body {
    animation: backgroundChange 5s infinite;
    /* 5s - animation duration, infinite - loop forever */
  }



  @media screen and (max-width: 768px) {
    body {
      font-size: 16px;
      margin: 10px;
    }
  
    section {
      width: 95%;
    }
  }
  
  @media screen and (max-width: 480px) {
    body {
      font-size: 14px;
    }
  }